body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;

  background-color: #010001;
  margin: 0;
  padding-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;

  max-width: 1230px;
  width: 90%;
  margin: auto;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-link {
  color: #ffffff;
  text-decoration: none;

  font-size: 12px;
  line-height: 14px;

  margin-left: 10px;
  margin-right: 10px;
}

.about-nav .item-link {
  color: #808080;
}

.main {
  text-align: center;

  padding-top: 120px;
  padding-bottom: 30px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;

  margin-top: 0;
  margin-bottom: 26px;
}

.description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;

  max-width: 268px;
  margin: auto;
}

.description::after {
  content: '';
  display: block;
  height: 60px;
  width: 1px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 25px;
}

.video {
  height: 750px;
  max-width: 1230px;
  width: 90%;
  margin: auto;
}

.features {
  position: relative;

  max-width: 1230px;
  width: 90%;

  margin: auto;
  padding: 100px 0;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;

  margin-bottom: 45px;
}

.table {
  margin-bottom: 210px;
}

table td {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.specs-imperial {
  color: #b2b0b2;
}

.features-text {
  max-width: 490px;

  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

.rellax {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 99;

  max-width: 300px;
}

.footer {
  padding: 130px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  margin-bottom: 40px;
}

.footer-nav .item-link {
  font-size: 18px;
  line-height: 21px;

  margin-bottom: 30px;
}

.footer-nav {
  margin-bottom: 30px;
}

.footer-text,
.footer-text a {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-decoration: none;

  margin-top: 0;
  margin-bottom: 28px;
}

.footer-nav .list {
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav .item {
  margin-bottom: 10px;
}

.button {
  color: #ffffff;
  text-decoration: none;

  border: 2px solid #ffffff;
  border-radius: 6px;

  padding: 20px 86px;
}

/* Media */

@media (max-width: 960px) {
  .rellax {
    max-width: 230px;
  }

  table td {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .logo {
    margin-bottom: 15px;
  }
  .header .main-nav {
    margin-bottom: 10px;
  }
  .rellax {
    max-width: 180px;
  }
  .video {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .rellax {
    position: static;
  }
  .main {
    padding-top: 45px;
  }
  .title {
    font-size: 56px;
  }
  .features-title {
    margin-top: 45px;
  }
  .features {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .features-text {
    margin: 0;
  }
  .table {
    margin-bottom: 0;
  }
  .table td {
    font-size: 14px;
    width: 150px;

    padding-top: 2px;
    padding-bottom: 2px;
  }
  .footer {
    text-align: center;
    padding-bottom: 100px;
  }
}
